@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	}
ul{
	list-style-type: none;
	}
li{
	display: inline-block;
	}
a{
	text-decoration:none;
	}
.clearfix{
	}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	}

