@charset "utf-8";

.scroll{
	margin: 10px auto;
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
	background: #666;
	}
.scroll .content{
	position: absolute;
	background: #fff;
	height: 300px;
	width: 100%;
	overflow: hidden;
	}
.scroll .bar{
	background: #aaa;
	position: absolute;
	right: 3px;
	height: 100%;
	width: 10px;
	}
.scroll .slider{
	background: #Fcc;
	position: absolute;
	right: 0px;
	height: 30%;
	width: 10px;
	border-radius : 8px;
	z-index: 1;
	background: linear-gradient(top,#00f,#00a);
	background: -moz-linear-gradient(top,#0af,#049);
	background: -webkit-linear-gradient(top,#0af,#049);
	background: -o-linear-gradient(top,#0af,#049);
	}
